<section class="new-request">
  <h3>What would youlike to request Sally?</h3>
  <form #requestForm="ngForm" id="request-edit-form" (ngSubmit)="submitForm(requestForm)">
    <input [(ngModel)]="request.type" placeholder="type" name="type" #type="ngModel" required/>
    <input [(ngModel)]="request.model" placeholder="model" name="model" #model="ngModel" required/>
    <input [(ngModel)]="request.version" placeholder="version" name="version" #version="ngModel" />
    <input [(ngModel)]="request.quantity" placeholder="quantity" name="quantity" #quantity="ngModel" required/>
    <input type="date" [(ngModel)]="request.start" placeholder="start date" name="start" #start="ngModel" required/>
    <input type="date" [(ngModel)]="request.end" placeholder="end date" name="end" #end="ngModel" required/>
    <button type="submit" [disabled]="!requestForm.form.valid">save</button>
  </form>
</section>

<app-requests></app-requests>