<section class="requests-details">
  <h3>Details of your Requests Sally</h3>
  <h4>Checked Out: {{ getFilteredRequest('checked out').length }}</h4>
  <ul>
    <li class="checked-out-details" *ngFor="let request of getFilteredRequest('checked out')">
      <div><span>{{ request.type }} - {{ request. model }} - {{ request.version }}</span></div>
      <div><span>Quantity: </span>{{ request.quantity }}</div>
      <div><span>Start Date: </span>{{ request.start }}</div>
      <div><span>End Date: </span>{{ request.end }}</div>
    </li>
  </ul>
  <h4>Pending: {{ getFilteredRequest('pending').length }}</h4>
  <ul>
    <li class="pending-details" *ngFor="let request of getFilteredRequest('pending')">
      <div><span>{{ request.type }} - {{ request. model }} - {{ request.version }}</span></div>
      <div><span>Quantity: </span>{{ request.quantity }}</div>
      <div><span>Start Date: </span>{{ request.start }}</div>
      <div><span>End Date: </span>{{ request.end }}</div>
    </li>
  </ul>
  <h4>Cancelled: {{ getFilteredRequest('cancelled').length }}</h4>
  <ul>
    <li class="cancelled-details" *ngFor="let request of getFilteredRequest('cancelled')">
      <div><span>{{ request.type }} - {{ request. model }} - {{ request.version }}</span></div>
      <div><span>Quantity: </span>{{ request.quantity }}</div>
      <div><span>Start Date: </span>{{ request.start }}</div>
      <div><span>End Date: </span>{{ request.end }}</div>
    </li>
  </ul>
</section>

