<!-- <section class="new-user">
  <h3>Please create an account</h3>
  <form #createAccountForm="ngForm" id="user-edit-form" (ngSubmit)="submitForm(userForm)">
    <input [(ngModel)]="user.firstName" placeholder="firstName" name="firstName" #firstName="ngModel" required/>
    <input [(ngModel)]="user.lastName" placeholder="lastName" name="lastName" #model="lastName" required/>
    <input [(ngModel)]="user.username" placeholder="username" name="username" #username="ngModel" />
    <input [(ngModel)]="user.badgeId" placeholder="badgeId" name="badgeId" #badgeId="ngModel" required/>
    <input [(ngModel)]="user.email" placeholder="email date" name="email" #email="ngModel" required/>
    <input [(ngModel)]="user.password" placeholder="password" name="password" #password="ngModel" required/>
    <button type="submit" [disabled]="!userForm.form.valid">save</button>
  </form>
</section>

<app-users [_users]="_users"></app-users> -->
