<button (click)="toggleRequestForm()">Create Request</button>
<app-request-form *ngIf=requesting></app-request-form>
<section class="requests-summary">
  <h3>Summary of your Requests Sally</h3>
  <h4>Checked Out: {{ getFilteredRequest('checked out').length }}</h4>
  <ul>
    <li class="checked-out-summary" *ngFor="let request of getFilteredRequest('checked out')">
      <div><span>{{ request.type }}</span></div>
      <div><span>Due Date: </span>{{ request.end }}</div>
    </li>
  </ul>
  <h4>Pending: {{ getFilteredRequest('pending').length }}</h4>
  <ul>
    <li class="pending-summary" *ngFor="let request of getFilteredRequest('pending')">
      <div><span>{{ request.type }}</span></div>
      <div><span>Start Date: </span>{{ request.start }}</div>
    </li>
  </ul>
  <h4>Cancelled: {{ getFilteredRequest('cancelled').length }}</h4>
  <ul>
    <li class="cancelled-summary" *ngFor="let request of getFilteredRequest('cancelled')">
      <div><span>{{ request.type }}</span></div>
      <div><span>Start Date: </span>{{ request.start }}</div>
    </li>
  </ul>
</section>